.index-paginator-layer {
    background: white;
    width: 88px;
    position: absolute;
    right: 34px;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
}

.wrapper-month-picker {
    display: flex;
    justify-content: center;
}